{
  @Layout = "Navbar";     @* The navbar of the site. For details go to Views/Shared/Navbar.cshmtl *@
}

@* This is the books page. There should be all books. Also when user clicks on the author or the publishor of the book, it should go to their page *@
<h1>@ViewBag.Books</h1>

